*{
    font-family: 'Montserrat', sans-serif;
    background: #C6E2E9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px ;
}

.link-header{
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
    color: #03012C;
    cursor: pointer;
    margin-right: 23px;
   
}

.button-header{
    background: #03012C;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #C6E2E9;
    cursor: pointer;
}


.img-logo{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section{
    display: inline-block;
    margin-left: 86px;
}

h1{
    font-weight: 900;
    font-size: 99px;
    line-height: 122px;
    color: #03012C;
}

h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #03012C;
}

p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #03012C;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main{
    border-radius: 30px;
    background: #03012C;
    width: 239px;
    height: 64px;
    border: none;
    color: #C6E2E9;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    }
